@import "../scss/variables";

.Navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: $specialBgColor;
    color: azure;
    text-align: center;
    a {
        color: white;
        font-size: 2rem;
        text-decoration: none;
        font-weight: bold;
        &:hover {
          background-color: $generalBgColor;
        //   color: $specialBgColor;
        }
}
}