.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.menuPart {
    background-color: rgb(142, 44, 44);
    flex:2;
    text-align: center;
    color: aliceblue;
}
.onClickPart{
    background-color: rgb(142, 44, 44);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}
.nav{
   background: gray;
   text-align: center;
   color: azure;
}